################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/Blazor.Api/obj
/Api/Blazor.Api/bin/Debug/net5.0
/Api/Blazor.Api/Properties
/Api/Blazor.Api/.vs/Blazor.Api
